
@font-face {
    font-family:"Euclid Circular B";
    src:url("EuclidCircularB-Regular.woff2") format("woff2"),url("EuclidCircularB-Regular.woff") format("woff"),url("EuclidCircularB-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        