{% comment %}
    This include creates a modal pop up with data export options.
    The logic of which formats appear is based on config-nav stubs:
    if subject.html, map.html, location.html, or timeline.html are present, 
    corresponding data formats will be available for download.
{%- endcomment -%}

{%- assign stubs = site.data.config-nav | map: 'stub' | join: ';' -%}
<button type="button" class="btn btn-primary btn-lg float-md-end" data-bs-toggle="modal" data-bs-target="#dataModal">Daten herunterladen</button>
<!-- Modal -->
<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dataModalLabel">Sammlungsdaten</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
            </div>
            <div class="modal-body">

                <p>Laden Sie die Daten dieser Sammlung in einer Reihe von wiederverwendbaren Formaten herunter.</p>
                
                {% if site.data.theme.metadata-export-fields %}
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Komplette Metadaten</h5>
                        <p class="card-text">Alle Metadatenfelder für alle Sammlungselemente, verfügbar als CSV-Tabelle (verwendbar in Excel, Google Sheets und ähnlichen Programmen) oder JSON-Datei (häufig in Webanwendungen verwendet).</p>
                        <a href="{{ '/assets/data/metadata.csv' | relative_url }}" class="btn btn-outline-dark" target="_blank">Metadaten CSV</a>
                        <a href="{{ '/assets/data/metadata.json' | relative_url }}" class="btn btn-outline-dark" target="_blank">Metadaten JSON</a>
                    </div>
                </div>
                {%- endif -%}
                {% if site.data.theme.metadata-facets-fields %}
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Metadaten-Facetten</h5>
                        <p class="card-text">Liste der eindeutigen Werte und ihrer Anzahl für bestimmte Metadatenfelder, nützlich für das Verständnis des Inhalts der Felder.</p>
                        <a href="{{ '/assets/data/facets.json' | relative_url }}" class="btn btn-outline-dark" target="_blank">Facetten JSON</a>
                    </div>
                </div>
                {%- endif -%}
                {% if stubs contains "subject" %}
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Betreff-Metadaten</h5>
                        <p class="card-text">Einzige Werte und Zählungen von Metadaten zum Thema, die für die weitere Analyse des Inhalts dieser Sammlung nützlich sind.</p>
                        <a href="{{ '/assets/data/subjects.csv' | relative_url }}" class="btn btn-outline-dark" target="_blank">Subjects CSV</a>
                        <a href="{{ '/assets/data/subjects.json' | relative_url }}" class="btn btn-outline-dark" target="_blank">Fachgebiete JSON</a>
                    </div>
                </div>
                {% endif %}
                {% if stubs contains "location" %}
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Orte</h5>
                        <p class="card-text">Einzige Werte und Zählungen von Orts-Metadaten, nützlich für die weitere Visualisierung und Analyse der Ortsnamen dieser Sammlung.</p>
                        <a href="{{ '/assets/data/locations.csv' | relative_url }}" class="btn btn-outline-dark" target="_blank">Orte CSV</a>
                        <a href="{{ '/assets/data/locations.json' | relative_url }}" class="btn btn-outline-dark" target="_blank">Standorte JSON</a>
                    </div>
                </div>
                {%- endif -%}
                {% if stubs contains "map" %}
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">GeoJSON</h5>
                        <p class="card-text">Metadaten für alle Sammlungselemente mit geografischen Koordinaten im <a href="https://en.wikipedia.org/wiki/GeoJSON" target="_blank" rel="noopener">GeoJSON</a>-Format, die für die weitere Erkundung und Analyse dieser Sammlung durch eine geografische Brille nützlich sind.</p>
                        <a href="{{ '/assets/data/geodata.json' | relative_url }}" class="btn btn-outline-dark" target="_blank">Geodaten JSON</a>
                    </div>
                </div>
                {%- endif -%}
                {% if stubs contains "timeline" %}
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Zeitleiste</h5>
                        <p class="card-text">Ein auf die Zeit ausgerichteter JSON-Datenexport für die Verwendung mit <a href="https://timeline.knightlab.com/" target="_blank" rel="noopener">TimelineJS</a>.</p>
                        <a href="{{ '/assets/data/timelinejs.json' | relative_url }}" class="btn btn-outline-dark" target="_blank">TimelineJS JSON</a>
                    </div>
                </div>
                {%- endif -%}
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Website-Quellcode</h5>
                        <p class="card-text">GitHub-Repository mit dem Quellcode für dieses Projekt, das mit <a href="https://github.com/CollectionBuilder/collectionbuilder-gh" target="_blank" rel="noopener">CollectionBuilder-GH</a> erstellt wurde.</p>
                        <a href="{{ site.source-code | default: 'https://github.com/CollectionBuilder/collectionbuilder-gh' }}" class="btn btn-outline-dark" target="_blank">Quellcode</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
